#!/usr/bin/env bash


# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias ls='ls -a -lrt'
alias lsd='ls -a -lrt -d */'

alias clear='clear; echo; echo; seq 1 $(tput cols) | sort -R | spark; echo; echo'
alias cl="clear"
alias mkdir="mkdir -p"
alias rmd='rm -r'
alias ..="cd .."
alias ~="cd ~"
alias ddownload="cd ~/Downloads"
alias ddesktop="cd ~/Desktop"
alias dapps="cd ~/Apps"
alias dsource="cd ~/Source"
alias dhistory="cd ~/history_logs"

alias chmox='chmod +x'

alias gclone='git clone'

alias party='curl parrot.live'
alias partys='curl parrot.live --max-time 2'

alias h='function hdi(){ howdoi $* -c -n 5; }; hdi'

alias makecpp='function makecpp(){ g++ $1 -o $2;  }; makecpp'

alias sdump='genact -m memdump'

alias scrcpy='docker run --rm -i -t --privileged --name satnami-scrcpy -v /dev/bus/usb:/dev/bus/usb  -v /tmp/.X11-unix:/tmp/.X11-unix  -e DISPLAY=$DISPLAY  pierlo1/scrcpy:intel'

alias top='htop'
alias file_manager='mc'

alias duplicates='echo "Start finding duplicates" && find . ! -empty -type f -exec md5sum {} + | sort | uniq -w32 -dD'

# Stopwatch
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'

alias path='echo $PATH | tr -s ":" "\n"'

# Always enable colored `grep` output
# Note: `GREP_OPTIONS="--color=auto"` is deprecated, hence the alias usag
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'

alias ip="dig +short myip.opendns.com @resolver1.opendns.com" # or ip="curl ipinfo.io/ip"
alias iplocate='function locate(){ curl https://www.iplocate.io/api/lookup/$1; echo; }; locate'
alias cheat='function cheatsh(){ curl cht.sh/$1/$2; echo; }; cheatsh'

alias instalg='sudo apt-get install -y'
alias instalb='brew install'
alias process='ps -aux'
alias disk='df -h'

alias dockersh='function dockersh(){ docker exec -it $1 /bin/sh; }; dockersh'
alias dockerbash='function dockerbash(){ docker exec -it $1 /bin/bash; }; dockerbash'
