#!/usr/bin/env bash

# export TERM="screen-256color"

export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

# export HASTE_SERVER="https://satnami-hastebin.herokuapp.com"

# parse_git_branch() {
#     git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/ (\1)/'
# }
# export PS1="\e[0;32m\u@\h \[\033[32m\]\w\[\033[33m\]\$(parse_git_branch)\[\033[00m\] $\e[m"

if [ -d "$HOME/go" ]; then
  export GOPATH="$HOME/go"
  export PATH="$PATH:$GOPATH/bin"
fi

if command -v brew >/dev/null 2>&1; then
  OPENVPN_PREFIX="$(brew --prefix openvpn 2>/dev/null)"
  [ -n "$OPENVPN_PREFIX" ] && export PATH=$PATH:$OPENVPN_PREFIX/sbin
fi

export GPG_TTY=$(tty)

[ -d "/usr/local/opt/inetutils/libexec/gnubin" ] && export PATH="$PATH:/usr/local/opt/inetutils/libexec/gnubin"

# Minishift
# export MINISHIFT_USERNAME=
# export MINISHIFT_PASSWORD=

# Maven
# if [ -d "/opt/maven" ]; then
#   export M2_HOME=/opt/maven
#   export PATH="${PATH}:${M2_HOME}/bin"
# fi

# Add Rbenv PATH for scripting.
if command -v rbenv >/dev/null 2>&1; then
  export RBENV_ROOT="$(rbenv root)"
else
  export RBENV_ROOT="$HOME/.rbenv"
fi
[ -d "$RBENV_ROOT/shims" ] && export PATH="$PATH:$RBENV_ROOT/shims"
# [ -d "$RBENV_ROOT/plugins/ruby-build/bin" ] && export PATH="$PATH:$RBENV_ROOT/plugins/ruby-build/bin"

# Add Pyenv PATH for scripting.
if command -v pyenv >/dev/null 2>&1; then
  export PYENV_ROOT="$(pyenv root)"
else
  export PYENV_ROOT="$HOME/.pyenv"
fi
[ -d "$PYENV_ROOT/shims" ] && export PATH="$PATH:$PYENV_ROOT/shims"

# Add RVM to PATH for scripting.
# [ -d "$HOME/.rvm/bin" ] && export PATH="$PATH:$HOME/.rvm/bin"

# THIS MUST BE AT THE END OF THE FILE FOR SDKMAN TO WORK!!!
export SDKMAN_DIR="$HOME/.sdkman"
[[ -s "$SDKMAN_DIR/bin/sdkman-init.sh" ]] && source "$SDKMAN_DIR/bin/sdkman-init.sh"

export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

if command -v npm >/dev/null 2>&1; then
  export PATH=$PATH:$(npm prefix --location=global)/lib/node_modules
fi

if [ -d "$HOME/Library/Android/sdk" ]; then
  export ANDROID_HOME="$HOME/Library/Android/sdk"
  [ -d "$ANDROID_HOME/tools" ] && export PATH="$PATH:$ANDROID_HOME/tools"
  [ -d "$ANDROID_HOME/tools/bin" ] && export PATH="$PATH:$ANDROID_HOME/tools/bin"
  [ -d "$ANDROID_HOME/platform-tools" ] && export PATH="$PATH:$ANDROID_HOME/platform-tools"
fi

if [ -d "$HOME/flutter" ]; then
  export FLUTTER_HOME="$HOME/flutter"
  export PATH="$PATH:$FLUTTER_HOME/bin"
fi

# [ -d "$HOME/.yarn/bin" ] && export PATH="$PATH:$HOME/.yarn/bin"

# [ -d "$HOME/.cargo/bin" ] && export PATH="$PATH:$HOME/.cargo/bin"

# if [ -d "$HOME/google-cloud-sdk" ]; then
#   export GOOGLE_CLOUD_SDK_HOME="$HOME/google-cloud-sdk"
#   export PATH="$PATH:$GOOGLE_CLOUD_SDK_HOME/bin"
# fi

# [ -f "$HOME/.cargo/env" ] && source "$HOME/.cargo/env"

# export _JAVA_OPTIONS="-Xms1024m -Xmx2G -Xss256m -XX:MaxPermSize=4G"
# export ANT_OPTS="-Xmx2g -XX:MaxPermSize=512m"
# [ -d "/usr/local/opt/imagemagick@6/bin" ] && export PATH="$PATH:/usr/local/opt/imagemagick@6/bin"
[ -d "/opt/local/lib/pkgconfig" ] && export PKG_CONFIG_PATH="/opt/local/lib/pkgconfig:$PKG_CONFIG_PATH"
[ -d "/usr/local/opt/libxml2/bin" ] && export PATH="$PATH:/usr/local/opt/libxml2/bin"

# [ -f "$HOME/kerl/default/activate" ] && source "$HOME/kerl/default/activate"

[ -d "$HOME/dotfiles/yazi" ] && export YAZI_CONFIG_HOME="$HOME/dotfiles/yazi"

[ -d "$HOME/.lmstudio/bin" ] && export PATH="$PATH:$HOME/.lmstudio/bin"

[ -d "$HOME/.rd/bin" ] && export PATH="$PATH:$HOME/.rd/bin"

if command -v rdctl >/dev/null 2>&1
then
  export DOCKER_HOST=unix://$HOME/.rd/docker.sock
  export TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
  export TESTCONTAINERS_HOST_OVERRIDE=$(rdctl shell ip a show vznat | awk '/inet / {sub("/.*",""); print $2}')
  export TESTCONTAINERS_RYUK_DISABLED=true
fi

export HOMEBREW_NO_AUTO_UPDATE=1
export HOMEBREW_DEVELOPER=1
