[github]
	user = satnami
[user]
	name = Mhd Sami Al Mouhtaseb
	email = mssatnami@gmail.com
	signingkey = F36B80357B0B658A
[color]
	ui = true
[core]
	autocrlf = input
	safecrlf = false
	excludesfile = ~/.gitignore_global
	ignorecase = false
[alias]
	pl = push
	ps = push
	l = log --pretty=oneline -n 20 --graph --abbrev-commit
	aa = add --all
	co = checkout
	br = branch
	cm = commit -v -S -m
	st = status
	discard = reset --hard HEAD
	unstage = reset HEAD --
	unstage1 = reset HEAD~1 --soft
	plom = pull origin master
	plou = pull origin upstream
	psom = push origin master
	psou = push origin upstream
	tags = tag -l
	remotes = remote -v
	branches = branch -a
	branchesr = for-each-ref --sort=-committerdate --format=\"%(color:green)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
	stashs = stash list
	dummy = ' add . && git commit -m . && git push origin master'
	open = !vim `~/git-open.sh`
	contributors = shortlog -e --summary --numbered
[commit]
	gpgsign = true
[push]
	default = current
[pull]
	default = current
[credential]
	helper = osxkeychain
[help]
	autocorrect = 1
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[tag]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg
