[github]
    user = satnami
[user]
	name = Mhd Sami Almouhtaseb
	email = mssatnami@gmail.com
	signingkey = 478090F9
[color]
	ui = true
[core]
	autocrlf = false
	safecrlf = true
[alias]
	aa = add --all
	co = checkout
	br = branch
	ci = commit -v -m
	st = status
	discard = reset --hard HEAD
	unstage = reset HEAD --
	unstage1 = reset HEAD~1 --soft
	plom = pull origin master
	plou = pull origin upstream
	psom = push origin master
	psou = push origin upstream
	tags = tag -l
	remotes = remote -v
	branches = branch -v
	branchesr = for-each-ref --sort=-committerdate --format=\"%(color:green)%(authordate:relative)\t%(color:red)%(authorname)\t%(color:white)%(color:bold)%(refname:short)\" refs/remotes
	stashs = stash list
	dummy = ' add . && git commit -m "." && git push origin master'
	open = !vim `~/git-open.sh`
[commit]
#	gpgsign = true
[push]
	default = current
[gpg]
	program = /usr/bin/gpg
[pull]
	default = current
[credential]
	helper = osxkeychain
#[url "git@github.com:"]
#	insteadOf = https://github.com/
